#body {
    background:url(../img/backgroundimg.jpg) 0 0 no-repeat;
    background-size: 100% auto;
}

#top {
    display: flex;
    padding-top: 10px;
    margin-bottom: 0px;
    justify-content: space-between;
}

#dlogo {
    margin-left: 50px;
    margin-top: 10px;
}

#signin {
    margin: 5px;
    border-radius: 5px;
    background: #4584b1;
    color: #fff;
    padding: 15px;
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#signin:hover {
    background-color: #ddd;
    cursor: pointer;
}

#signup {
    margin: 5px;
    border-radius: 5px;
    background: #4584b1;
    color: #fff;
    padding: 15px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#signup:hover {
    background-color: #ddd;
    cursor: pointer;
}

#main {
    height: 700px;
    margin-top: 0px;
    padding-top: 150px;
}

#mes1 {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

#mes2 {
    font-size: 20px;
    padding-top: 0px;
    text-align: center
}

#linklist {
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
}

#search {
    text-align: center;
    width: 250px;
    margin-left: 200px;
    margin: 20px;
    border-radius: 5px;
    background: #ffffff;
    color: #000080;
    padding: 15px;
}

#mes3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

#mes4 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#scout {
    text-align: center;
    width: 250px;
    margin-left: 200px;
    margin: 20px;
    border-radius: 5px;
    background: #ffffff;
    color: #000080;
    padding: 15px;
}

#mes5 {
    margin-top: 5px;
    margin-bottom: 0px;
}

#mes6 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#search:hover {
    background-color: #ddd;
    cursor: pointer;
}

#scout:hover {
    background-color: #ddd;
    cursor: pointer;
}

.navbar-brand {
  background: url("../img/dirma_logo.png") no-repeat left center;
  background-size: contain;
  height: 60px;
  width: 200px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.navbar-right {
  margin-top: 25px;
  margin-right: 30px;
}
