body {
  margin: 4em 15px 0 15px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

#logo {
  width: 40p;
  margin-left: 80px;
  height: 45px;
  margin-top: 0px;
}

header {
  border-bottom: solid 1px #EEEEEE;
}

.stitle {
  color: #666666;
  margin-top: 0px;
  font-size: 12px;
  margin-right: 20px;
  width: 50px;
}

#job {
  margin-left: 80px;
  width: 350px;
}

#jobs {
  color: #333333;
  margin-bottom: 10px;
}

#job_submit {
  margin-left: 100px;
  padding: 2px 3px;
}

.jobsearch {
  display: flex;
  width: 380px;
  justify-content: flex-start;
  align-content: center;
  margin-left: 30px;
  margin-bottom: 10px;
}

.job_category .jobtypes {
  min-width: 280px;
}

#jt {
  width: 200px;
}

#place {
  width: 150px;
}

#salary {
  width: 150px;
}

#but {
  margin-top: 10px;
  padding: 30px 40px;
  font-size: 16px;
  margin-left: 100px;
  width: 100px;
}

#search {
  margin-left: 5em;
  display: flex;
  border-bottom: solid 1px #EEEEEE;
  padding-bottom: 20px;
}

#company {
  margin-left: 100px;
}

#coms {
  color: #333333;
  margin-bottom: 10px;
}

thead {
  align-content: center;
  background-color: rgba( 200, 200, 200, 0.85);
  padding: 20px 8px;
}

.btn-jobdetaile,
.btn-corp {
  width: 100px;
  margin-bottom: 10px;
}

a.btn-jobdetaile:link,
a.btn-corp:link {
  color: #f7f7f7;
}

a.btn-jobdetaile:visited,
a.btn-corp:visited {
  color: #f7f7f7;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  text-align:center;
}

.corp_tbl tbody tr td a {
  padding: 5px 12px;
  color: #f5f5f5;
  background-color: #68cde8;
  border-radius: 18px;
}
