#logo {
    width: 40p;
    margin-left: 80px;
    height: 45px;
    margin-top: 0px;
}

body {
    background-color: #F8F8F8;
    padding: 0;
}

header {
    border-bottom: solid 1px #EEEEEE;
}

.stitle {
    color: #666666;
    margin-top: 0px;
    font-size: 12px;
    margin-right: 20px;
}

#job {
    margin-left: 80px;
}

#jobs {
    color: #333333;
}

.jobsearch {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

#jt {
    width: 200px;
}

#place {
    width: 150px;
}

#salary {
    width: 150px;
}

#but {
    margin-top: 10px;
    padding: 30px 40px;
    font-size: 16px;
    margin-left: 100px;
    width: 100px;
}

#search {
    display: flex;
    border-bottom: solid 1px #EEEEEE;
    padding-bottom: 20px;
}

#company {
    margin-left: 100px;
}

#coms {
    color: #333333;
    margin-bottom: 0px;
}

table {
    font-size: 14px;
    margin-top: 10px;
}

tr {
    padding-left: 30px;
}

.td1 {
    width: 120px;
}

.td2 {
    width: 180px;
}

.td3 {
    width: 140px;
}

.td4 {
    width: 200px;
}

#divtable {
    padding-left: 30px;
    margin-left: 30px;
    padding-right: 30px;
    margin-right: 30px;
    padding-top: 20px;
    margin-top: 30px;
    padding-bottom: 40px;
    background-color: none;
}
