@media all and (min-width: 550px) {
  .wrapper {
    display: flex;
  }
  
}

.column {
  height: 100vh;
  width: 100%;
}

.left-column {
  background: url(../img/backgroundimg.jpg) no-repeat top center;
  background-size: cover;
  padding-top: 10em;
}

.logo {
  min-width: 200px;
  padding: 10px;
}

.right-column {
  background-color:#f8f8ff;
  padding-top: 8em;
}

.form-group {
  padding: 0px 3px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

form fieldset {
	margin-left: 30px;
}

form label {
	padding-left: 20px;
  font-weight: normal;
}

form .textbox {
	width: 100%;
	background-color: #f8f8f8;
	border: none;
	border-bottom: 1px solid #aaaaaa;
}

form textArea {
	background-color: #f8f8f8;
	border: none;
}

.form-area {
  padding: 0px 10px;
}

.submit_button {
	margin-left: 20px;
	padding: 0.6em 1em;
	color: #ffffff;
	border: none;
	background-color: #e0531f;
}

.point {
	display: inline;
	color: #e0531f;
	border: 1px solid #e0531f;
	border-radius: 3px;
}
